{
  "printWidth": 80,
  "tabWidth": 4,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "importOrder" : [
    "<THIRD_PARTY_MODULES>",
    "^@/components/(.*)$",
    "^@/providers/(.*)$",
    "^@/services/(.*)$",
    "^@/assets/(.*)$",
    "^@/types/(.*)$",
    "^@/hooks/(.*)$",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^../(.*)$",
    "^./(.*)$",
    "^(.scss)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}